body {
    background-image: url("../images/web.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

.test { 
    color: aliceblue;
    text-align: center;
    font-size: 30px;
    background-color: rgba(70, 67, 67, 0.5);
    margin: 0px ;
    padding-bottom: 9%;    
}

button {
    width: 85px;
    height: 45px;
    border-radius: 35%;
    font-size: 15px;
    color: blue;
}

